<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.apache.cordova.sms.smssend"
      version="0.1.0">
    <name>SmsSend</name>
    <description>Cordova SMS Send Plugin</description>
    <license>MIT</license>
    <keywords>cordova,sms,</keywords>


    <js-module src="www/smsplugin.js" name="sms">
        <clobbers target="sms" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SmsSend">
                <param name="android-package" value="org.apache.cordova.sms.smssend"/>
            </feature>
        </config-file>

        <source-file src="src/android/SmsPlugin.java" target-dir="src/org/apache/cordova/sms" />      
     </platform>
          
</plugin>